<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>AdminLoginValidationServlet</display-name>
    <servlet-name>AdminLoginValidationServlet</servlet-name>
    <servlet-class>com.example.controller.admin.AdminLoginValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginValidationServlet</servlet-name>
    <url-pattern>/AdminLoginValidationServlet</url-pattern>
  </servlet-mapping>
  <display-name>MetroDwellServices</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddServiceServlet</display-name>
    <servlet-name>AddServiceServlet</servlet-name>
    <servlet-class>com.example.controller.admin.AddServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServiceServlet</servlet-name>
    <url-pattern>/AddServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServiceServlet</display-name>
    <servlet-name>DeleteServiceServlet</servlet-name>
    <servlet-class>com.example.controller.admin.DeleteServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServiceServlet</servlet-name>
    <url-pattern>/DeleteServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImageServlet</display-name>
    <servlet-name>UploadImageServlet</servlet-name>
    <servlet-class>com.example.controller.admin.UploadImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImageServlet</servlet-name>
    <url-pattern>/UploadImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServiceServlet</display-name>
    <servlet-name>UpdateServiceServlet</servlet-name>
    <servlet-class>com.example.controller.admin.UpdateServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServiceServlet</servlet-name>
    <url-pattern>/UpdateServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddWorkerServlet</display-name>
    <servlet-name>AddWorkerServlet</servlet-name>
    <servlet-class>com.example.controller.workers.AddWorkerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWorkerServlet</servlet-name>
    <url-pattern>/AddWorkerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkerServletLoginValidation</display-name>
    <servlet-name>WorkerServletLoginValidation</servlet-name>
    <servlet-class>com.example.controller.workers.WorkerServletLoginValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerServletLoginValidation</servlet-name>
    <url-pattern>/WorkerServletLoginValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.example.controller.users.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletValidation</display-name>
    <servlet-name>UserServletValidation</servlet-name>
    <servlet-class>com.example.controller.users.UserServletValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletValidation</servlet-name>
    <url-pattern>/UserServletValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkerUploadImageServlet</display-name>
    <servlet-name>WorkerUploadImageServlet</servlet-name>
    <servlet-class>com.example.controller.workers.WorkerUploadImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerUploadImageServlet</servlet-name>
    <url-pattern>/WorkerUploadImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUploadImageServlet</display-name>
    <servlet-name>UserUploadImageServlet</servlet-name>
    <servlet-class>com.example.controller.users.UserUploadImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUploadImageServlet</servlet-name>
    <url-pattern>/UserUploadImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateWorkersServlet</display-name>
    <servlet-name>UpdateWorkersServlet</servlet-name>
    <servlet-class>com.example.controller.admin.UpdateWorkersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateWorkersServlet</servlet-name>
    <url-pattern>/UpdateWorkersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookingsServlet</display-name>
    <servlet-name>AddBookingsServlet</servlet-name>
    <servlet-class>com.example.controller.bookings.AddBookingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookingsServlet</servlet-name>
    <url-pattern>/AddBookingsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRatingsServlet</display-name>
    <servlet-name>AddRatingsServlet</servlet-name>
    <servlet-class>com.example.controller.review.AddRatingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRatingsServlet</servlet-name>
    <url-pattern>/AddRatingsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookingStatusServlet</display-name>
    <servlet-name>UpdateBookingStatusServlet</servlet-name>
    <servlet-class>com.example.controller.bookings.UpdateBookingStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookingStatusServlet</servlet-name>
    <url-pattern>/UpdateBookingStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReviewServlet</display-name>
    <servlet-name>DeleteReviewServlet</servlet-name>
    <servlet-class>com.example.controller.review.DeleteReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReviewServlet</servlet-name>
    <url-pattern>/DeleteReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateReviewServlet</display-name>
    <servlet-name>UpdateReviewServlet</servlet-name>
    <servlet-class>com.example.controller.review.UpdateReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReviewServlet</servlet-name>
    <url-pattern>/UpdateReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdvertisementServlet</display-name>
    <servlet-name>AddAdvertisementServlet</servlet-name>
    <servlet-class>com.example.controller.advertisement.AddAdvertisementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdvertisementServlet</servlet-name>
    <url-pattern>/AddAdvertisementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserDataFields</display-name>
    <servlet-name>UpdateUserDataFields</servlet-name>
    <servlet-class>com.example.controller.users.UpdateUserDataFields</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserDataFields</servlet-name>
    <url-pattern>/UpdateUserDataFields</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateWorkerDataFields</display-name>
    <servlet-name>UpdateWorkerDataFields</servlet-name>
    <servlet-class>com.example.controller.workers.UpdateWorkerDataFields</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateWorkerDataFields</servlet-name>
    <url-pattern>/UpdateWorkerDataFields</url-pattern>
  </servlet-mapping>
</web-app>